:root {}

body {
    margin: 0;
}

#box {
    width: 100px;
    height: 100px;
    background-color: red;
}

#fishing-box {
    width: 80px;
    height: 460px;
    background-color: rgb(9, 46, 84);

    position: absolute;
    right: 50px;
    top: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
}

#fishing-bar {
    width: 40px;
    height: 420px;
    background-color: rgb(81, 142, 203);

    bottom: 10px;
    left: 50%;
    top: auto;

    padding: abosolute;

    display: flex;
    justify-content:center;
    align-items: center;
}

#fishing {
    width: 20px;
    height: 400px;
    background-color: rgb(130, 178, 227);

    bottom: 10px;
    left: 50%;
    top: auto;

    padding: abosolute;

    transform-origin: bottom;
}
