:root{
    --layer-height: fit-content;
    --layer-width: 100%;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.fishes{
    position: absolute;
    overflow-x: clip;
    width: 100%;

}

header{
    margin: 0;
    background-color: #def3f6;
    width: var(--layer-width);
    height: 150px;
    position: relative;
}


.layer{
    width: var(--layer-width);
    height: var(--layer-height);
}

.first{
    background-color: #7fcdff;
}

.first:before{
    background-color: #def3f6;
    content: '';
    position: absolute;
    height: 10px;
    width: 100vw;
    left: 0;
    -webkit-clip-path: polygon(1% 0%, 4% 50%, 9% 0%, 13% 50%, 19% 1%, 21% 50%, 26% 5%, 30% 50%, 36% 2%, 43% 50%, 50% 1%, 52% 50%, 61% 0%, 69% 44%, 30% 0%, 76% 50%, 81% 0%, 84% 100%, 91% 0%, 97% 100%, 99% 3%);
}

.second{
    background-color: #1da2d8;
}
.second:before{
    background-color: #7fcdff;
    content: '';
    position: absolute;
    height: 10px;
    width: 100vw;
    left: 0;
    -webkit-clip-path: polygon(1% 0%, 4% 50%, 9% 0%, 13% 50%, 19% 1%, 21% 50%, 26% 5%, 30% 50%, 36% 2%, 43% 50%, 50% 1%, 52% 50%, 61% 0%, 69% 44%, 30% 0%, 76% 50%, 81% 0%, 84% 100%, 91% 0%, 97% 100%, 99% 3%);
}

.third{
    background-color: #5466c1;
}
.third:before{
    background-color: #1da2d8;
    content: '';
    position: absolute;
    height: 10px;
    width: 100vw;
    left: 0;
    -webkit-clip-path: polygon(1% 0%, 4% 50%, 9% 0%, 13% 50%, 19% 1%, 21% 50%, 26% 5%, 30% 50%, 36% 2%, 43% 50%, 50% 1%, 52% 50%, 61% 0%, 69% 44%, 30% 0%, 76% 50%, 81% 0%, 84% 100%, 91% 0%, 97% 100%, 99% 3%);
}

.fourth{
    background-color: #064273;
}
.fourth:before{
    background-color: #5466c1;
    content: '';
    position: absolute;
    height: 10px;
    width: 100vw;
    left: 0;
    -webkit-clip-path: polygon(1% 0%, 4% 50%, 9% 0%, 13% 50%, 19% 1%, 21% 50%, 26% 5%, 30% 50%, 36% 2%, 43% 50%, 50% 1%, 52% 50%, 61% 0%, 69% 44%, 30% 0%, 76% 50%, 81% 0%, 84% 100%, 91% 0%, 97% 100%, 99% 3%);
}

.second, .third, .fourth{
    ul{
        height: 300px;
    }
}
@media screen and (min-width: 800px) {
    .first{
        ul li p{
            font-size: 15px;
        }
    }
    .second, .third, .fourth{
        ul li p{
            font-size: 20px;
        }
    }
}

ul {
    margin: auto;
    width: 50vw;
    height: 600px;
    padding: 20px;
    display: flex;
    gap: 4vw;
}

li {
    list-style-type: none;
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 20px;
  
    flex: 0 0 100%;
    border-radius: 0.5rem;
    overflow: auto;
    z-index: 2;
}

ul {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
li {
    scroll-snap-align: center;
    opacity: 0.8;
}

ul::scroll-button(*) {
    border: 0;
    font-size: 2rem;
    background: none;
    color: rgb(0 0 0 / 0.7);
    cursor: pointer;
}

ul::scroll-button(*):hover,
ul::scroll-button(*):focus {
    color: rgb(0 0 0 / 1);
}

ul::scroll-button(*):active {
    translate: 1px 1px;
}

ul::scroll-button(*):disabled {
    color: rgb(0 0 0 / 0.2);
    cursor: unset;
}
ul::scroll-button(left) {
    content: "◄";
}

ul::scroll-button(right) {
    content: "►";
}

h1{
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
}
.boat-container {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 1;
    margin-top: 0;
    margin: auto;
    animation: boat 2s ease-in-out infinite;
}

.boat-hull {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 60px;
    background-color: brown;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}
.captain-room{
    background-color: white;
    position: absolute;
    bottom: 60px;
    width: 80px;
    height: 60px;
    left: 100px;
}
.window{
    background-color: yellow;
    position: absolute;
    bottom: 80px;
    width: 30px;
    height: 30px;
    left: 105px;
}
.window-front{
    background-color: yellow;
    position: absolute;
    bottom: 80px;
    width: 30px;
    height: 30px;
    left: 150px;
}

.roof{
    background-color: brown;
    position: absolute;
    bottom: 120px;
    width: 100px;
    height: 20px;
    left: 90px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@keyframes boat {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
}

.fish{
    overflow-x: clip;
    height: 30px;
    width: 40px;
    position: absolute;
    background-image: url('image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    opacity: 0;
}

.fish:nth-of-type(1) {
    top: 1826px;
    animation-delay: 10.8s;
    animation: fish 10.9s linear infinite;
}

.fish:nth-of-type(2) {
    top: 1305px;
    animation-delay: 10.4s;
    animation: fish 9.8s linear infinite;
}

.fish:nth-of-type(3) {
    top: 1088px;
    animation-delay: 7.1s;
    animation: fish 11.8s linear infinite;
}

.fish:nth-of-type(4) {
    top: 758px;
    animation-delay: 9.8s;
    animation: fish 7.7s linear infinite;
}

.fish:nth-of-type(5) {
    top: 1241px;
    animation-delay: 10.3s;
    animation: fish 7.6s linear infinite;
}

.fish:nth-of-type(6) {
    top: 1356px;
    animation-delay: 10.5s;
    animation: fish 11.1s linear infinite;
}

.fish:nth-of-type(7) {
    top: 1568px;
    animation-delay: 7.6s;
    animation: fish 11.8s linear infinite;
}

.fish:nth-of-type(8) {
    top: 1830px;
    animation-delay: 7.0s;
    animation: fish 7.1s linear infinite;
}

.fish:nth-of-type(9) {
    top: 969px;
    animation-delay: 8.5s;
    animation: fish 9.2s linear infinite;
}

.fish:nth-of-type(10) {
    top: 1816px;
    animation-delay: 8.3s;
    animation: fish 7.6s linear infinite;
}

.fish:nth-of-type(11) {
    top: 1391px;
    animation-delay: 6.7s;
    animation: fish 11.2s linear infinite;
}

.fish:nth-of-type(12) {
    top: 1622px;
    animation-delay: 9.1s;
    animation: fish 6.8s linear infinite;
}

.fish:nth-of-type(13) {
    top: 1223px;
    animation-delay: 6.1s;
    animation: fish 9.5s linear infinite;
}

.fish:nth-of-type(14) {
    top: 1401px;
    animation-delay: 9.5s;
    animation: fish 7.5s linear infinite;
}

.fish:nth-of-type(15) {
    top: 1736px;
    animation-delay: 11.7s;
    animation: fish 11.9s linear infinite;
}

.fish:nth-of-type(16) {
    top: 1542px;
    animation-delay: 9.6s;
    animation: fish 6.7s linear infinite;
}

.fish:nth-of-type(17) {
    top: 1395px;
    animation-delay: 7.2s;
    animation: fish 9.9s linear infinite;
}

.fish:nth-of-type(18) {
    top: 1597px;
    animation-delay: 11.2s;
    animation: fish 7.2s linear infinite;
}

.fish:nth-of-type(19) {
    top: 1877px;
    animation-delay: 9.3s;
    animation: fish 6.2s linear infinite;
}

.fish:nth-of-type(20) {
    top: 1565px;
    animation-delay: 6.3s;
    animation: fish 7.3s linear infinite;
}

.fish:nth-of-type(21) {
    top: 1285px;
    animation-delay: 10.2s;
    animation: fish 10.6s linear infinite;
}

.fish:nth-of-type(22) {
    top: 1684px;
    animation-delay: 11.6s;
    animation: fish 10.7s linear infinite;
}

.fish:nth-of-type(23) {
    top: 431px;
    animation-delay: 8.0s;
    animation: fish 6.4s linear infinite;
}

.fish:nth-of-type(24) {
    top: 1832px;
    animation-delay: 11.5s;
    animation: fish 8.3s linear infinite;
}

.fish:nth-of-type(25) {
    top: 153px;
    animation-delay: 9.4s;
    animation: fish 10.0s linear infinite;
}

.fish:nth-of-type(26) {
    top: 1850px;
    animation-delay: 6.5s;
    animation: fish 10.4s linear infinite;
}

.fish:nth-of-type(27) {
    top: 1740px;
    animation-delay: 7.3s;
    animation: fish 6.6s linear infinite;
}

.fish:nth-of-type(28) {
    top: 1879px;
    animation-delay: 6.2s;
    animation: fish 8.9s linear infinite;
}

.fish:nth-of-type(29) {
    top: 977px;
    animation-delay: 6.9s;
    animation: fish 11.6s linear infinite;
}

.fish:nth-of-type(30) {
    top: 1102px;
    animation-delay: 10.8s;
    animation: fish 8.5s linear infinite;
}

.fish:nth-of-type(31) {
    top: 876px;
    animation-delay: 6.6s;
    animation: fish 10.3s linear infinite;
}

.fish:nth-of-type(32) {
    top: 1284px;
    animation-delay: 11.3s;
    animation: fish 7.9s linear infinite;
}

.fish:nth-of-type(33) {
    top: 642px;
    animation-delay: 11.1s;
    animation: fish 11.7s linear infinite;
}

.fish:nth-of-type(34) {
    top: 81px;
    animation-delay: 6.4s;
    animation: fish 6.3s linear infinite;
}

.fish:nth-of-type(35) {
    top: 240px;
    animation-delay: 10.7s;
    animation: fish 10.2s linear infinite;
}

.fish:nth-of-type(36) {
    top: 486px;
    animation-delay: 6.8s;
    animation: fish 7.6s linear infinite;
}

.fish:nth-of-type(37) {
    top: 1394px;
    animation-delay: 9.2s;
    animation: fish 10.5s linear infinite;
}

.fish:nth-of-type(38) {
    top: 978px;
    animation-delay: 11.8s;
    animation: fish 8.2s linear infinite;
}

.fish:nth-of-type(39) {
    top: 1870px;
    animation-delay: 8.7s;
    animation: fish 7.7s linear infinite;
}

.fish:nth-of-type(40) {
    top: 1563px;
    animation-delay: 7.9s;
    animation: fish 6.1s linear infinite;
}

.fish:nth-of-type(41) {
    top: 1397px;
    animation-delay: 9.0s;
    animation: fish 8.0s linear infinite;
}

.fish:nth-of-type(42) {
    top: 1427px;
    animation-delay: 8.1s;
    animation: fish 11.0s linear infinite;
}

.fish:nth-of-type(43) {
    top: 1025px;
    animation-delay: 10.6s;
    animation: fish 10.1s linear infinite;
}

.fish:nth-of-type(44) {
    top: 698px;
    animation-delay: 10.0s;
    animation: fish 9.3s linear infinite;
}

.fish:nth-of-type(45) {
    top: 1900px;
    animation-delay: 7.8s;
    animation: fish 6.3s linear infinite;
}

.fish:nth-of-type(46) {
    top: 1116px;
    animation-delay: 7.7s;
    animation: fish 9.0s linear infinite;
}

.fish:nth-of-type(47) {
    top: 1179px;
    animation-delay: 11.4s;
    animation: fish 10.8s linear infinite;
}

.fish:nth-of-type(48) {
    top: 973px;
    animation-delay: 8.9s;
    animation: fish 8.1s linear infinite;
}

.fish:nth-of-type(49) {
    top: 934px;
    animation-delay: 9.7s;
    animation: fish 8.7s linear infinite;
}

.fish:nth-of-type(50) {
    top: 1136px;
    animation-delay: 10.1s;
    animation: fish 9.4s linear infinite;
}

.fish:nth-of-type(51) {
    top: 1432px;
    animation-delay: 7.5s;
    animation: fish 9.6s linear infinite;
}

.fish:nth-of-type(52) {
    top: 1470px;
    animation-delay: 11.9s;
    animation: fish 7.0s linear infinite;
}

.fish:nth-of-type(53) {
    top: 1817px;
    animation-delay: 9.8s;
    animation: fish 11.5s linear infinite;
}

.fish:nth-of-type(54) {
    top: 894px;
    animation-delay: 8.4s;
    animation: fish 6.2s linear infinite;
}

.fish:nth-of-type(55) {
    top: 1545px;
    animation-delay: 11.0s;
    animation: fish 8.6s linear infinite;
}

.fish:nth-of-type(56) {
    top: 1155px;
    animation-delay: 7.4s;
    animation: fish 10.9s linear infinite;
}

.fish:nth-of-type(57) {
    top: 1322px;
    animation-delay: 8.6s;
    animation: fish 6.7s linear infinite;
}

.fish:nth-of-type(58) {
    top: 1320px;
    animation-delay: 6.1s;
    animation: fish 7.4s linear infinite;
}

.fish:nth-of-type(59) {
    top: 1165px;
    animation-delay: 9.9s;
    animation: fish 10.6s linear infinite;
}

.fish:nth-of-type(60) {
    top: 1831px;
    animation-delay: 8.2s;
    animation: fish 6.5s linear infinite;
}

.fish:nth-of-type(61) {
    top: 1690px;
    animation-delay: 10.9s;
    animation: fish 9.1s linear infinite;
}

.fish:nth-of-type(62) {
    top: 1281px;
    animation-delay: 6.0s;
    animation: fish 6.6s linear infinite;
}

.fish:nth-of-type(63) {
    top: 1190px;
    animation-delay: 7.1s;
    animation: fish 7.2s linear infinite;
}

.fish:nth-of-type(64) {
    top: 1421px;
    animation-delay: 6.8s;
    animation: fish 9.7s linear infinite;
}





@keyframes fish {
    0%{
        opacity: 1;
        transform: translatex(100vw);
    }
    100%{
        opacity: 1;
        transform: translatex(-100px);
    }
}


@media screen and (max-width: 800px) {
    ul {
        width: 80vw;
        height: 80vh;
    }

    .boat-container {
        top: 5px;
        bottom: 5px;
    }
    
    .boat-hull {
        bottom: 0;
        width: 100px;
        height: 30px;
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 80px;
    }
    .captain-room{
        bottom: 30px;
        width: 40px;
        height: 30px;
        left: 50px;
    }
    .window{
        bottom: 40px;
        width: 15px;
        height: 15px;
        left: 52.5px;
    }
    .window-front{
        bottom: 40px;
        width: 15px;
        height: 15px;
        left: 75px;
    }
    
    .roof{
        bottom: 60px;
        width: 50px;
        height: 10px;
        left: 45px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}